.App {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

.Stage {
  width: 720px;
  height: 480px;
  background-color: #000000;
  overflow: hidden;
}

.Ball {
  position: relative;
  width: 32px;
  height: 32px;
  background-color: coral;
  border: 1px white solid;
  border-radius: 32px;
}
